USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[tbl_MV_Master_ACC]    Script Date: 12/3/2025 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MV_Master_ACC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MVTypeCode] [nvarchar](500) NOT NULL,
	[MVTypeName] [nvarchar](500) NOT NULL,
	[ContentMV] [nvarchar](500) NULL,
	[TypeID] [int] NOT NULL,
	[DateInsert] [datetime] NOT NULL,
	[UserInsert] [nvarchar](500) NULL,
	[DateUpdate] [datetime] NULL,
	[UserUpdate] [nvarchar](500) NULL,
	[Flag_Delete] [nvarchar](5) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_MV_Master_ACC] ADD  CONSTRAINT [DF_tbl_MV_Master_ACC_DateInsert]  DEFAULT (getdate()) FOR [DateInsert]
GO
/****** Object:  StoredProcedure [dbo].[CheckUser_Issue_InOut]    Script Date: 12/3/2025 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckUser_Issue_InOut]
	@UserID as nvarchar(50), 
	@bophan as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;

   if exists(select ID FROM [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where UserLogin=@UserID and Dept=@bophan)
   begin
		select 1
   end
   else
   begin
		select 0
   end



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_InOut]    Script Date: 12/3/2025 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Issue_InOut] --Select_Issue_InOut 'IAF18951','PUR'
	@_sanction as nvarchar(50), 
	@bophan as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @sanctionid as int
	declare @MVTTypename as nvarchar(50)
	set @MVTTypename = (select distinct TypeName from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=32)
	--TypeName, MoveType  ==> dung vong lap for :  truong hop 1 san tion co nhieu typename

	set @sanctionid = (select Id FROM [ScrapSystem].[dbo].[Scraps] where Sanction=@_sanction)

    select *  FROM [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid and TypeName=@MVTTypename


	
END
GO
