USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[get_IssueOut_MVType]    Script Date: 12/4/2025 5:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_IssueOut_MVType]   --get_IssueOut_MVType '201','7'
	@Mvtype as nvarchar(50),
	@TypeRQ as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ContentMV FROM [ScrapSystem].[dbo].[tbl_MV_Master_ACC] where MVTypeCode=@Mvtype and TypeID=@TypeRQ

END
GO
/****** Object:  StoredProcedure [dbo].[Get_Max_Issue_InOut]    Script Date: 12/4/2025 5:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_Max_Issue_InOut]  --Get_Max_Issue_InOut 'Claim scrap deadstock'
	@typename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @TypeRQ as int 
	declare @Nametemplate as nvarchar(50)

	set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[tbl_MV_Master_ACC] where MVTypeName like '%'+@typename+'%')
	print @TypeRQ

	set @Nametemplate =  (select [NameTemplate] FROM [ScrapSystem].[dbo].[MaterNametemplate] where TypeID=@TypeRQ) --form A or Form B
	---FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] order by ID desc
	print @Nametemplate

	if(@Nametemplate ='B')
	begin
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform  from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
	end
	else
	begin
		print 'form A'
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
	end

	


END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Issue_InOut_FromB]    Script Date: 12/4/2025 5:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_Issue_InOut_FromB] 
---Insert_Issue_InOut_FromB 'RQB-PUR-1225-33','PNKM1188ZA1/AS','8','155','2015597_1',0.09968,null,'VR01',null,null,15.45,0.09968,15.45,'VF013','NA2000','1239','NA2000','','','B'
	@Request_NO as nvarchar(50), 
	@Material as nvarchar(50), 
	@TypeRQ as nvarchar(50), 
	@Qty as float, 
	@UserID as nvarchar(20), 
	@UnitPriceST as float, 
	@MVContent as nvarchar(50), 
	@Plant as nvarchar(20), 
	@Note as nvarchar(50), 
	@DateVoucher as nvarchar(50), 
	@Amount float, 
	@UnitActual float, 
	@Amount_Actual float, 
	@VendorCode as nvarchar(50), 
	@CostCenter as nvarchar(50), 
	@Sloc as nvarchar(50), 
	----@MVContent as nvarchar(50), 
	@Public_Dept as nvarchar(50), 
	@CountryOfOrgin as nvarchar(50), 
	@ItemDescription as nvarchar(50),
	@tenform as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    if(@tenform ='B')
	begin
		INSERT INTO [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] ([RequestNo],[Material],[TypeID], [IssueQty],UserCreate,[UnitPrice_ST],[MvType],[Plant],Note,DateVoucher,Amount_ST,UnitPrice_AC,Amount_AC , VendorCode,CostCenter,Sloc,MvName,RQDeptID,CountryofOrigin,ItemDescription)
		values (@Request_NO,@Material,@TypeRQ,@Qty,@UserID,@UnitPriceST,@MVContent,@Plant,@Note,@DateVoucher,@Amount,@UnitActual,@Amount_Actual,@VendorCode,@CostCenter,@Sloc,@MVContent,@Public_Dept,@CountryOfOrgin,@ItemDescription)

		select 1
	end
	else
	begin
		print 'from A'
		--,UnitPrice_AC,Amount_AC
		--,@UnitActual,@Amount_Actual
		INSERT INTO [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] ([RequestNo],[Material],[TypeID], [IssueQty],UserCreate,[UnitPrice_ST],[MvType],[Plant],Note,DateVoucher,Amount_ST , VendorCode,CostCenter,Sloc,MvName,RQDeptID,CountryofOrigin,ItemDescription)
		values (@Request_NO,@Material,@TypeRQ,@Qty,@UserID,@UnitPriceST,@MVContent,@Plant,@Note,@DateVoucher,@Amount,@VendorCode,@CostCenter,@Sloc,@MVContent,@Public_Dept,@CountryOfOrgin,@ItemDescription)

		select 1
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_InOut]    Script Date: 12/4/2025 5:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Issue_InOut] --Select_Issue_InOut 'IAF18951','PUR'
	@_sanction as nvarchar(50), 
	@bophan as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @sanctionid as int
	declare @MVTTypename as nvarchar(50)
	
	--TypeName, MoveType  ==> dung vong lap for :  truong hop 1 san tion co nhieu typename

	set @sanctionid = (select Id FROM [ScrapSystem].[dbo].[Scraps] where Sanction=@_sanction)

	set @MVTTypename = (select distinct TypeName from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid)

    select *  FROM [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid and TypeName=@MVTTypename
	
END
GO
/****** Object:  StoredProcedure [dbo].[Update_ScrapList_Isssue_In_Out]    Script Date: 12/4/2025 5:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_ScrapList_Isssue_In_Out]
	@bophan as nvarchar(50), 
	@_sanction as nvarchar(50), 
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @sanctionid as int
	set @sanctionid = (select Id from Scraps where Sanction=@_sanction and Status=0 and Approve=0)

	update [ScrapSystem].[dbo].[ScrapDetails] set FlagEpro=1, IssueOut='YES' WHERE SanctionId=@sanctionid

	select 1
	
END
GO
