USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[Get_Max_Issue_InOut]    Script Date: 12/5/2025 5:25:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_Max_Issue_InOut]  --Get_Max_Issue_InOut 'Claim scrap deadstock'
	@typename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @TypeRQ as int 
	declare @Nametemplate as nvarchar(50)

	set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[tbl_MV_Master_ACC] where MVTypeName like '%'+@typename+'%')
	print @TypeRQ

	set @Nametemplate =  (select [NameTemplate] FROM [ScrapSystem].[dbo].[MaterNametemplate] where TypeID=@TypeRQ) --form A or Form B
	---FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] order by ID desc
	print @Nametemplate

	if(@Nametemplate ='B')
	begin
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform  from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
	end
	else
	begin
		print 'form A'
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
	end

	


END
GO
/****** Object:  StoredProcedure [dbo].[Get_VMT_Issue_InOut]    Script Date: 12/5/2025 5:25:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_VMT_Issue_InOut] --Get_VMT_Issue_InOut 'IAF18951','PUR'
	@_sanction as nvarchar(50), 
	@bophan as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @sanctionid as int
	declare @MVTTypename as nvarchar(50)
	
	--TypeName, MoveType  ==> dung vong lap for :  truong hop 1 san tion co nhieu typename

	set @sanctionid = (select Id FROM [ScrapSystem].[dbo].[Scraps] where Sanction=@_sanction)
	print @sanctionid
	select distinct TypeName from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid
	---print @MVTTypename


    --select *  FROM [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid and TypeName=@MVTTypename
	
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Issue_InOut]    Script Date: 12/5/2025 5:25:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Issue_InOut] --Select_Issue_InOut 'IAF18951','PUR','Claim scrap deadstock'
	@_sanction as nvarchar(50), 
	@bophan as nvarchar(50),
	@_MVT as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @sanctionid as int
	
	
	--TypeName, MoveType  ==> dung vong lap for :  truong hop 1 san tion co nhieu typename

	set @sanctionid = (select Id FROM [ScrapSystem].[dbo].[Scraps] where Sanction=@_sanction)
	print @sanctionid
	
    select *  FROM [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid and TypeName=@_MVT
	
END
GO
