USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[CheckUser_Issue_InOut]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckUser_Issue_InOut] -- CheckUser_Issue_InOut '"2015597_1"','PUR','IAF18951'
	@UserID as nvarchar(50), 
	@bophan as nvarchar(50),
	@_sanction as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;
	DECLARE @CleanUserID NVARCHAR(50);
	declare @sanctionid as int;
	set @sanctionid = (select Id from Scraps where Sanction=@_sanction and Status=0)
	print @sanctionid

	
SET @CleanUserID = REPLACE(@UserID, '"', '');
--SELECT @CleanUserID;  -- Kết quả: 2015597_1
print @CleanUserID


	--check xem user co quyen tao issue in ou khong?
   if exists(select ID FROM [Issue_MaterialInOut].[dbo].[tbl_UserIssueRQ] where UserLogin=@CleanUserID and Dept=@bophan)
   begin
		-- check xem sanc tion do duoc tao issue in out chua?
		if exists(select top 1 Id from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid and FlagEpro=1)
		begin
			-- sanction da ton tai issue out
			select 2
		end
		else
		begin
			select 1
		end
		---select 1
   end
   else
   begin
		select 0
   end



END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool2]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool2]   --Export_ScrapList_tool2 'PUS','IAF18951','2025-12-07','2025-12-07'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN

	declare @sid as int
	set @sid = (select Id from Scraps where Sanction=@sacnctionid and Status=0)
	print @sid
	
	select [SanctionId]
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor] from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Issue_InOut_FromB]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_Issue_InOut_FromB] 
---Insert_Issue_InOut_FromB 'RQB-PUR-1225-33','PNKM1188ZA1/AS','8','155','2015597_1',0.09968,null,'VR01',null,null,15.45,0.09968,15.45,'VF013','NA2000','1239','NA2000','','','B'
	@Request_NO as nvarchar(50), 
	@Material as nvarchar(50), 
	@TypeRQ as nvarchar(50), 
	@Qty as float, 
	@UserID as nvarchar(20), 
	@UnitPriceST as float, 
	@MVContent as nvarchar(50), 
	@Plant as nvarchar(20), 
	@Note as nvarchar(50), 
	@DateVoucher as nvarchar(50), 
	@Amount float, 
	@UnitActual float, 
	@Amount_Actual float, 
	@VendorCode as nvarchar(50), 
	@CostCenter as nvarchar(50), 
	@Sloc as nvarchar(50), 
	----@MVContent as nvarchar(50), 
	@Public_Dept as nvarchar(50), 
	@CountryOfOrgin as nvarchar(50), 
	@ItemDescription as nvarchar(50),
	@tenform as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	BEGIN TRY
    BEGIN TRANSACTION;   

    if(@tenform ='B')
	begin
		INSERT INTO [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] ([RequestNo],[Material],[TypeID], [IssueQty],UserCreate,[UnitPrice_ST],[MvType],[Plant],Note,DateVoucher,Amount_ST,UnitPrice_AC,Amount_AC , VendorCode,CostCenter,Sloc,MvName,RQDeptID,CountryofOrigin,ItemDescription)
		values (@Request_NO,@Material,@TypeRQ,@Qty,@UserID,@UnitPriceST,@MVContent,@Plant,@Note,@DateVoucher,@Amount,@UnitActual,@Amount_Actual,@VendorCode,@CostCenter,@Sloc,@MVContent,@Public_Dept,@CountryOfOrgin,@ItemDescription)

		select 1
	end
	else
	begin
		print 'from A'
		--,UnitPrice_AC,Amount_AC
		--,@UnitActual,@Amount_Actual
		INSERT INTO [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue] ([RequestNo],[Material],[TypeID], [IssueQty],UserCreate,[UnitPrice_ST],[MvType],[Plant],Note,DateVoucher,Amount_ST , VendorCode,CostCenter,Sloc,MvName,RQDeptID,CountryofOrigin,ItemDescription)
		values (@Request_NO,@Material,@TypeRQ,@Qty,@UserID,@UnitPriceST,@MVContent,@Plant,@Note,@DateVoucher,@Amount,@VendorCode,@CostCenter,@Sloc,@MVContent,@Public_Dept,@CountryOfOrgin,@ItemDescription)

		select 1
	end


	COMMIT TRANSACTION;  -- Thành công => lưu lại
	END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION;   -- Lỗi => hoàn tác toàn bộ

    -- Thông báo lỗi
    DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
    SELECT @ErrMsg = ERROR_MESSAGE(),
           @ErrSeverity = ERROR_SEVERITY();

    RAISERROR (@ErrMsg, @ErrSeverity, 1);  -- quăng lỗi ra ngoài
END CATCH;


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList] 
	
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 --and s.Sanction=@ScanctionID
  order by sd.CreatedDate desc



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion]  --Select_Mater_ScrapList_sacntion 'IAF99999','',''
	--@SanctionId as int
	@tensanction as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 and s.Sanction=@tensanction--and s.Sanction=@ScanctionID
  order by sd.CreatedDate desc



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion2]    Script Date: 12/7/2025 3:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion2]  --Select_Mater_ScrapList_sacntion2 'MCS','IAF99999','',''
	@bophan as nvarchar(50),
	@tensanction as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 and s.Sanction=@tensanction and s.Section=@bophan
  order by sd.CreatedDate desc



END
GO
