USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool]    Script Date: 12/9/2025 5:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool]   --Export_ScrapList_tool 'PUS','TEST_stock','2025-11-24','2025-11-24'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN
	
	---SET NOCOUNT ON;
	select [SanctionId]
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor]
	  ,Remark from [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@sacnctionid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_vendor_desktock]    Script Date: 12/9/2025 5:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_vendor_desktock] --Get_infor_vendor_desktock 'KEC SINGAPORE PTE LTD'
	@VendorName as nvarchar(300)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   
   select top 1 VendorCode from [ScrapSystem].[dbo].[tbl_VendorMaster] where VendorName like '%'+@VendorName+'%'


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion3]    Script Date: 12/9/2025 5:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion3]  --Select_Mater_ScrapList_sacntion3 'TEST_123','','',''
	--@SanctionId as int
	@tensanction as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@tensanction2 as nvarchar(50)
AS
BEGIN

if(@tensanction2 = '')
begin
	if(@tensanction ='==Sanction==')
	begin
		--load sanction
		select top(2000)* from [ScrapSystem].[dbo].[ScrapDetails_convert]  order by ID desc
	end
	else
	begin
		--	loc theo sanction
		select * from [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@tensanction
	end
end
else
begin
	--	loc theo ten sanction theo o text box
		select * from [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@tensanction2
end

	
	

END
GO
/****** Object:  StoredProcedure [dbo].[update_Qty_convert_tool]    Script Date: 12/9/2025 5:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_Qty_convert_tool]
	@idconvert as nvarchar(50), 
	@sanctionname as nvarchar(50), 
	@qty_act as nvarchar(50),
	@vendor as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	---SET NOCOUNT ON;

	update [ScrapSystem].[dbo].[ScrapDetails_convert] set Qty=@qty_act,QtyActual=@qty_act,Vendor=@vendor where Id=@idconvert ---and SanctionId=@tensanction

	select 1
    
END
GO
