USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[MaterMVT_PUS]    Script Date: 12/11/2025 5:28:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterMVT_PUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Plant] [nvarchar](50) NULL,
	[Sloc] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Costcenter] [nvarchar](50) NULL,
	[NameCode] [nvarchar](50) NULL,
	[TypeRoshHalb] [nvarchar](50) NULL,
	[Typevendor] [nvarchar](50) NULL,
	[MVTvendor] [nvarchar](50) NULL,
	[TypePSNV] [nvarchar](50) NULL,
	[MVTPSNV] [nvarchar](50) NULL,
	[Createtime] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaterMVT_PUS] ADD  CONSTRAINT [DF_MaterMVT_PUS_Createtime]  DEFAULT (getdate()) FOR [Createtime]
GO
/****** Object:  StoredProcedure [dbo].[Delete_mater_MVT_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_mater_MVT_pus] 
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	delete [ScrapSystem].[dbo].[MaterMVT_PUS] where ID=@id

	select 1
    
END
GO
/****** Object:  StoredProcedure [dbo].[Delete_mater_sloc_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_mater_sloc_pus]
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	delete [ScrapSystem].[dbo].[MasterSlocPUS] where ID=@id

	select 1
   
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_mater_MVT_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_mater_MVT_pus]
	@Plant as nvarchar(50), 
	@Sloc as nvarchar(50), 
	@Description as nvarchar(50), 
	@Costcenter as nvarchar(50), 
	@NameCode as nvarchar(50), 
	@TypeRoshHalb as nvarchar(50), 
	@Typevendor as nvarchar(50), 
	@MVTvendor as nvarchar(50), 
	@TypePSNV as nvarchar(50), 
	@MVTPSNV as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   insert into [ScrapSystem].[dbo].[MaterMVT_PUS] (
   [Plant]
      ,[Sloc]
      ,[Description]
      ,[Costcenter]
      ,[NameCode]
      ,[TypeRoshHalb]
      ,[Typevendor]
      ,[MVTvendor]
      ,[TypePSNV]
      ,[MVTPSNV]
   ) 
   values(@Plant,@Sloc,@Description,@Costcenter,@NameCode,@TypeRoshHalb,@Typevendor,@MVTvendor,@TypePSNV,@MVTPSNV)

   select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Insert_mater_sloc_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_mater_sloc_pus] 
	@Plant as nvarchar(50), 
	@Plant2 as nvarchar(50), 
	@SlocPus as nvarchar(50), 
	@Category as nvarchar(50), 
	@Description as nvarchar(50), 
	@ScrapSloc as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	if exists(select * from  [ScrapSystem].[dbo].[MasterSlocPUS] where SlocPus=@SlocPus and ScrapSloc=@ScrapSloc)
	begin
		--ton tai ban ghi
		select 0
	end
	else
	begin
		insert into [ScrapSystem].[dbo].[MasterSlocPUS] ([Plant]
      ,[Plant2]
      ,[SlocPus]
      ,[Category]
      ,[Description]
      ,[ScrapSloc]) values(@Plant,@Plant2,@SlocPus,@Category,@Description,@ScrapSloc)

	  select 1
	end

	
  
END
GO
/****** Object:  StoredProcedure [dbo].[Select_mater_MVT_Pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_mater_MVT_Pus]
	
AS
BEGIN


	SELECT TOP (1000) [ID]
      ,[Plant]
      ,[Sloc]
      ,[Description]
      ,[Costcenter]
      ,[NameCode]
      ,[TypeRoshHalb]
      ,[Typevendor]
      ,[MVTvendor]
      ,[TypePSNV]
      ,[MVTPSNV]
      ,[Createtime]
  FROM [ScrapSystem].[dbo].[MaterMVT_PUS]


END
GO
/****** Object:  StoredProcedure [dbo].[Select_mater_Sloc_Pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_mater_Sloc_Pus]
	
AS
BEGIN
	
	SELECT TOP (1000) [ID]
      ,[Plant]
      ,[Plant2]
      ,[SlocPus]
      ,[Category]
      ,[Description]
      ,[ScrapSloc]
  FROM [ScrapSystem].[dbo].[MasterSlocPUS]

END
GO
/****** Object:  StoredProcedure [dbo].[Update_mater_MVT_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_mater_MVT_pus]
	@id as nvarchar(50), 
	@Plant as nvarchar(50), 
	@Sloc as nvarchar(50), 
	@Description as nvarchar(50), 
	@Costcenter as nvarchar(50), 
	@NameCode as nvarchar(50), 
	@TypeRoshHalb as nvarchar(50), 
	@Typevendor as nvarchar(50), 
	@MVTvendor as nvarchar(50), 
	@TypePSNV as nvarchar(50), 
	@MVTPSNV as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    update [ScrapSystem].[dbo].[MaterMVT_PUS] set [Plant]=@Plant
      ,[Sloc]=@Sloc
      ,[Description]=@Description
      ,[Costcenter]=@Costcenter
      ,[NameCode]=@NameCode
      ,[TypeRoshHalb]=@TypeRoshHalb
      ,[Typevendor]=@Typevendor
      ,[MVTvendor]=@MVTvendor
      ,[TypePSNV]=@TypePSNV
      ,[MVTPSNV]=@MVTPSNV where ID=cast(@id as int)

	  select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Update_mater_sloc_pus]    Script Date: 12/11/2025 5:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_mater_sloc_pus]
	@id as nvarchar(50), 
	@Plant as nvarchar(50), 
	@Plant2 as nvarchar(50), 
	@SlocPus as nvarchar(50), 
	@Category as nvarchar(50), 
	@Description as nvarchar(50), 
	@ScrapSloc as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    update [ScrapSystem].[dbo].[MasterSlocPUS] set [Plant]=@Plant,[Plant2]=@Plant2,[SlocPus]=@SlocPus,[Category]=@Category,[Description]=@Description,[ScrapSloc]=@ScrapSloc where ID=@id

	select 1

END
GO
