USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[ScrapDetails_convert]    Script Date: 12/16/2025 12:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScrapDetails_convert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanctionId] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[Qty] [float] NULL,
	[QtyActual] [float] NULL,
	[UnitPrice] [decimal](18, 5) NULL,
	[Amount] [decimal](18, 5) NULL,
	[CostCenter] [nvarchar](20) NULL,
	[Reason] [nvarchar](500) NULL,
	[Plant] [nvarchar](20) NULL,
	[Sloc] [nvarchar](20) NULL,
	[NameCost] [nvarchar](50) NULL,
	[Pallet] [nvarchar](20) NULL,
	[Barcode] [nvarchar](50) NULL,
	[ScrapSloc] [nvarchar](20) NULL,
	[ControlNo] [nvarchar](50) NULL,
	[FaTool] [nvarchar](50) NULL,
	[TypeName] [nvarchar](50) NULL,
	[MVT] [nvarchar](20) NULL,
	[MoveType] [nvarchar](20) NULL,
	[UnitPriceAC] [decimal](18, 5) NULL,
	[AmountAC] [decimal](18, 5) NULL,
	[Vendor] [nvarchar](50) NULL,
	[type_convert] [nvarchar](50) NULL,
	[Remark] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Delete_scraplist_record]    Script Date: 12/16/2025 12:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_scraplist_record]
	@id as nvarchar(10), 
	@userid nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
if(@userid = '2012757' or @userid = 'admin')
	begin

		delete [ScrapSystem].[dbo].[ScrapDetails] where Id=@id
		select 1

	end
	else
	begin
		select 0
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool]    Script Date: 12/16/2025 12:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool]   --Export_ScrapList_tool 'PUS','TEST_stock','2025-11-24','2025-11-24'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN
	
	---SET NOCOUNT ON;
	select [SanctionId]
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor]
	  ,Remark 
	  from [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@sacnctionid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_MVT_pus]    Script Date: 12/16/2025 12:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_MVT_pus]  -- Get_infor_MVT_pus '1199','ROH','psnvcost'
	@Sloc as nvarchar(50), 
	@MoveType as nvarchar(50),
	@type_cost as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	if(@type_cost = 'vendorcost')
	begin
		select top 1 [Typevendor],[MVTvendor],Costcenter,NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] where Sloc=@Sloc and TypeRoshHalb = @MoveType
	end
	else
	begin
		--@type_cost = 'psnvcost'
		select top 1 [TypePSNV],[MVTPSNV],Costcenter,NameCode from [ScrapSystem].[dbo].[MaterMVT_PUS] where Sloc=@Sloc and TypeRoshHalb = @MoveType
	end

    


END
GO
/****** Object:  StoredProcedure [dbo].[update_Qty_scrap_list]    Script Date: 12/16/2025 12:06:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_Qty_scrap_list]
	@id as nvarchar(10), 
	@material as nvarchar(50), 
	@qtyplan as nvarchar(10), 
	@qtyact nvarchar(10),
	@userid nvarchar(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	if(@userid = '2012757' or @userid = 'admin')
	begin
		update [ScrapSystem].[dbo].[ScrapDetails] set [Qty]=@qtyplan,[QtyActual]=@qtyact where Id=cast(@id as int)

		select 1
	end
	else
	begin
		select 0
	end

    

END
GO
