USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[MaterNametemplate]    Script Date: 12/17/2025 5:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterNametemplate](
	[NameTemplate] [nvarchar](50) NULL,
	[TypeID] [int] NULL,
	[TypeName] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[AccountCost] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool2]    Script Date: 12/17/2025 5:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool2]   --Export_ScrapList_tool2 'FA','IAF18935','2025-12-01','2025-12-17'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN

	declare @sid as int
	set @sid = (select Id from Scraps where Sanction=@sacnctionid and Status=0)
	print @sid
	
	select @sacnctionid as SanctionId
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor] from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Max_Issue_InOut]    Script Date: 12/17/2025 5:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_Max_Issue_InOut]  --Get_Max_Issue_InOut 'Claim scrap deadstock'
	@typename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @TypeRQ as int 
	declare @Nametemplate as nvarchar(50)

	---set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[tbl_MV_Master_ACC] where MVTypeName like '%'+@typename+'%')

	set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[MaterNametemplate] where [TypeName] like '%'+@typename+'%')
	print @TypeRQ

	--truong hop typeRQ=23 co 2 loai
	--23.Scrap mixing part
	--23.Scrap mixing part (For Outsourcing)
	if(@typename ='Scrap mixing part')
	begin
		set @Nametemplate =  'A';
	end
	else if(@typename ='Scrap mixing part (For Outsourcing)')
	begin
		set @Nametemplate =  'B'; --form A or Form B
	end
	else
	begin
		set @Nametemplate =  (select [NameTemplate] FROM [ScrapSystem].[dbo].[MaterNametemplate] where TypeID=@TypeRQ); --form A or Form B
	end

	---FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] order by ID desc
	print @Nametemplate

	if(@Nametemplate ='B')
	begin
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform  from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
	end
	else
	begin
		print 'form A'
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
	end

	


END
GO
