USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool]    Script Date: 12/17/2025 11:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool]   --Export_ScrapList_tool 'PUS','NGlist07122025','2025-12-01','2025-12-24'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN
	
	---SET NOCOUNT ON;
	select [SanctionId]
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor]
	  ,Remark 
	  ,(select b.VendorName from tbl_VendorMaster b where b.VendorCode=a.Vendor) as VendorName
	  ,(select top 1 c.AccountCost from MaterNametemplate c where c.TypeName LIKE '%' + a.TypeName + '%') as AccountCost
	  from [ScrapSystem].[dbo].[ScrapDetails_convert] a where SanctionId=@sacnctionid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool2]    Script Date: 12/17/2025 11:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool2]   --Export_ScrapList_tool2 'FA','IAF18951','2025-12-01','2025-12-17'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN

	declare @sid as int
	set @sid = (select Id from Scraps where Sanction=@sacnctionid and Status=0)
	print @sid
	
	select @sacnctionid as SanctionId
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor]
	  ,(select b.VendorName from tbl_VendorMaster b where b.VendorCode=a.Vendor) as VendorName
	  ,(select top 1 c.AccountCost from MaterNametemplate c where c.TypeName LIKE '%' + a.TypeName + '%') as AccountCost
	  from [ScrapSystem].[dbo].[ScrapDetails] a where SanctionId=@sid
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList]    Script Date: 12/17/2025 11:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList] 
	
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
	  ,sd.UnitPriceAC
	  ,sd.AmountAC
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 --and s.Sanction=@ScanctionID
  order by sd.CreatedDate desc



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion]    Script Date: 12/17/2025 11:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion]  --Select_Mater_ScrapList_sacntion 'IAF99999','',''
	--@SanctionId as int
	@tensanction as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
	  ,sd.UnitPriceAC
	  ,sd.AmountAC
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 and s.Sanction=@tensanction--and s.Sanction=@ScanctionID
  order by sd.CreatedDate desc



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion2]    Script Date: 12/17/2025 11:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion2]  --Select_Mater_ScrapList_sacntion2 'MCS','IAF99999','',''
	@bophan as nvarchar(50),
	@tensanction as nvarchar(50),
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	
	SELECT TOP (1000) sd.[Id]
      --,sd.[SanctionId]
	  ,s.Sanction as SanctionId
      ,sd.[Material]
      ,sd.[Qty]
      ,sd.[QtyActual]
      ,sd.[UnitPrice]
      ,sd.[Amount]
      ,sd.[CostCenter]
      ,sd.[Reason]
      ,sd.[Plant]
      ,sd.[Sloc]
      ,sd.[NameCost]
      ,sd.[Pallet]
      ,sd.[Barcode]
      ,sd.[CreatedDate]
      ,sd.[CreatedId]
      ,sd.[UpdatedDate]
      ,sd.[UpdatedId]
      ,sd.[ID2]
      ,sd.[IssueOut]
	  ,sd.FlagEpro
	  ,sd.UnitPriceAC
	  ,sd.AmountAC
  FROM [ScrapSystem].[dbo].[ScrapDetails] sd
  inner join [ScrapSystem].[dbo].[Scraps] s on sd.SanctionId=s.id
  where s.[Status]=0 and s.Sanction=@tensanction and s.Section=@bophan
  order by sd.CreatedDate desc



END
GO
