USE [ScrapSystem]
GO
/****** Object:  StoredProcedure [dbo].[Dongbo_ScrapList_toolconvert]    Script Date: 1/18/2026 12:41:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Dongbo_ScrapList_toolconvert]  ---Dongbo_ScrapList_toolconvert 'IAF18951','L0AD02A00049','3','VR01','1239','5.Disposition','VF013'
	@tensanction as nvarchar(50), 
	@material as nvarchar(50), 
	@Qty as nvarchar(10), 
	@plant as nvarchar(10), 
	@Sloc as nvarchar(10), 
	@TypeName as nvarchar(50), 
	@Vendor as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   declare @soluong_tool as float
   set  @soluong_tool = (select Qty from [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@tensanction and Material=@material and Plant=@plant and Sloc=@Sloc and TypeName=@TypeName and Vendor=@Vendor)
   print @soluong_tool

   if(@soluong_tool > 0 or @soluong_tool is not null)
   begin
   
		---ton tai ban ghi
		--kiem tra so luong co duoc sua hay khong?
		if (cast(@Qty as float) = 0)
		begin
			---so luong =0 thi xoa ban ghi ben tool convert
			delete [ScrapSystem].[dbo].[ScrapDetails_convert] where SanctionId=@tensanction and Material=@material and Plant=@plant and Sloc=@Sloc and TypeName=@TypeName and Vendor=@Vendor

			select 1
		end
		else if((@soluong_tool <> cast(@Qty as float)) or (@soluong_tool = cast(@Qty as float)))
		begin
			--- so luong khac nhau
			--update lai so luong
			update [ScrapSystem].[dbo].[ScrapDetails_convert] set Qty=cast(@Qty as float),QtyActual=cast(@Qty as float), Qty_old=@soluong_tool,Flag_change=1 where SanctionId=@tensanction and Material=@material and Plant=@plant and Sloc=@Sloc and TypeName=@TypeName and Vendor=@Vendor

			select 1
		end	
   end
   else
   begin
		--khong ton tai ban ghi
		select 0
   end


   --if ()
   --begin
   --end


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ScrapList_sacntion4]    Script Date: 1/18/2026 12:41:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ScrapList_sacntion4]  --Select_Mater_ScrapList_sacntion4 'IAF18951'
	@tensanction as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	declare @sanctionid as int
	set @sanctionid = (Select Id FROM [ScrapSystem].[dbo].[Scraps] where Sanction=@tensanction and Status=0)

    --select * from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=@sanctionid

	select * from [ScrapSystem].[dbo].[ScrapDetails] where SanctionId=11



END
GO
/****** Object:  StoredProcedure [dbo].[update_Qty_scrap_list]    Script Date: 1/18/2026 12:41:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_Qty_scrap_list]
	@id as nvarchar(10), 
	@material as nvarchar(50), 
	@qtyplan as nvarchar(10), 
	@qtyact nvarchar(10),
	@userid nvarchar(20),
	@UnitPrice nvarchar(20), 
	@Sloc nvarchar(20), 
	@NameCost nvarchar(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	declare @amount as float
	set @amount = cast(@qtyplan as float)*cast(@UnitPrice as float)

	if(@userid = '2012757' or @userid = 'admin')
	begin
		update [ScrapSystem].[dbo].[ScrapDetails] set [Qty]=@qtyplan,[QtyActual]=@qtyact, UnitPrice=@UnitPrice,Amount=@amount,NameCost=@NameCost where Id=cast(@id as int)

		select 1
	end
	else
	begin
		select 0
	end

    

END
GO
