USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[MaterNametemplate]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterNametemplate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameTemplate] [nvarchar](50) NULL,
	[TypeID] [int] NULL,
	[TypeName] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[AccountCost] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_History_change_price_SAP]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_History_change_price_SAP](
	[ID] [int] NULL,
	[Request_NO] [nvarchar](50) NULL,
	[Plant] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[QtyIssue] [float] NULL,
	[giacu] [float] NULL,
	[amountcu] [float] NULL,
	[giamoi] [float] NULL,
	[amountmoi] [float] NULL,
	[UserID] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Delete_from_AB]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_from_AB]
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	delete [ScrapSystem].[dbo].[MaterNametemplate] where ID=cast(@id as int)

	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Form_AB]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_Form_AB]
	@NameTemplate as nvarchar(50), 
	@TypeID as nvarchar(50), 
	@TypeName as nvarchar(50), 
	@AccountCost as nvarchar(50), 
	@Description as nvarchar(300)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	insert into [ScrapSystem].[dbo].[MaterNametemplate] ([NameTemplate]
      ,[TypeID]
      ,[TypeName]
      ,[Description]
      ,[AccountCost]) values(@NameTemplate,@TypeID,@TypeName,@Description,@AccountCost)

	  select 1
   
END
GO
/****** Object:  StoredProcedure [dbo].[Select_form_AB]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_form_AB]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   SELECT TOP (1000) *
  FROM [ScrapSystem].[dbo].[MaterNametemplate]


END
GO
/****** Object:  StoredProcedure [dbo].[Select_form_AB_loc]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_form_AB_loc]  --Select_form_AB_loc ''
	@filtertypename as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;

   select * from [ScrapSystem].[dbo].[MaterNametemplate] where [TypeName] like '%'+@filtertypename+'%'

END
GO
/****** Object:  StoredProcedure [dbo].[Select_hisorty_changepriceSAP]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_hisorty_changepriceSAP]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	SELECT TOP (1000) [ID]
      ,[Request_NO]
      ,[Plant]
      ,[Material]
      ,[QtyIssue]
      ,[giacu]
      ,[amountcu]
      ,[giamoi]
      ,[amountmoi]
      ,[UserID]
      ,[CreateDate]
  FROM tbl_History_change_price_SAP

    
END
GO
/****** Object:  StoredProcedure [dbo].[Select_hisorty_changepriceSAP_loc]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_hisorty_changepriceSAP_loc]
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50), 
	@filtertypename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	 if(@filtertypename = '')
	 begin
				SELECT TOP (1000) [ID]
			  ,[Request_NO]
			  ,[Plant]
			  ,[Material]
			  ,[QtyIssue]
			  ,[giacu]
			  ,[amountcu]
			  ,[giamoi]
			  ,[amountmoi]
			  ,[UserID]
			  ,[CreateDate]
		  FROM tbl_History_change_price_SAP order by CreateDate desc
	 end
	 else
	 begin
		
		SELECT TOP (1000) [ID]
			  ,[Request_NO]
			  ,[Plant]
			  ,[Material]
			  ,[QtyIssue]
			  ,[giacu]
			  ,[amountcu]
			  ,[giamoi]
			  ,[amountmoi]
			  ,[UserID]
			  ,[CreateDate]
		  FROM tbl_History_change_price_SAP where  Material=@filtertypename and CONVERT(date,CreateDate) between CONVERT(date,@_fromdate) and CONVERT(date,@_todate)


	 end

	

    
END
GO
/****** Object:  StoredProcedure [dbo].[Update_Form_AB]    Script Date: 12/21/2025 6:02:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_Form_AB]
	@id as nvarchar(50), 
	@NameTemplate as nvarchar(50), 
	@TypeID as nvarchar(50), 
	@TypeName as nvarchar(50), 
	@AccountCost as nvarchar(50), 
	@Description as nvarchar(300)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	update [ScrapSystem].[dbo].[MaterNametemplate] set NameTemplate=@NameTemplate,TypeID=@TypeID,TypeName=@TypeName,AccountCost=@AccountCost,[Description]=@Description where ID=cast(@id as int)

	select 1

END
GO
