USE [ScrapSystem]
GO
/****** Object:  Table [dbo].[ScrapDetails_convert]    Script Date: 12/22/2025 5:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScrapDetails_convert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanctionId] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[Qty] [float] NULL,
	[QtyActual] [float] NULL,
	[UnitPrice] [decimal](18, 5) NULL,
	[Amount] [decimal](18, 5) NULL,
	[CostCenter] [nvarchar](20) NULL,
	[Reason] [nvarchar](500) NULL,
	[Plant] [nvarchar](20) NULL,
	[Sloc] [nvarchar](20) NULL,
	[NameCost] [nvarchar](50) NULL,
	[Pallet] [nvarchar](20) NULL,
	[Barcode] [nvarchar](50) NULL,
	[ScrapSloc] [nvarchar](20) NULL,
	[ControlNo] [nvarchar](50) NULL,
	[FaTool] [nvarchar](50) NULL,
	[TypeName] [nvarchar](50) NULL,
	[MVT] [nvarchar](20) NULL,
	[MoveType] [nvarchar](20) NULL,
	[UnitPriceAC] [decimal](18, 5) NULL,
	[AmountAC] [decimal](18, 5) NULL,
	[Vendor] [nvarchar](50) NULL,
	[type_convert] [nvarchar](50) NULL,
	[Remark] [nvarchar](300) NULL,
	[VendorName] [nvarchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Export_ScrapList_tool]    Script Date: 12/22/2025 5:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Export_ScrapList_tool]   --Export_ScrapList_tool 'PUR','IAF19999','2025-11-24','2025-11-24'
	@bophan as nvarchar(50), 
	@sacnctionid as nvarchar(50), 
	@tungay as nvarchar(50), 
	@denngay as nvarchar(50)
AS
BEGIN
	
	---SET NOCOUNT ON;
	select [SanctionId]
      ,[Material]
      ,[Qty]
      ,[QtyActual]
      ,[UnitPrice]
      ,[Amount]
      ,[CostCenter]
      ,[Reason]
      ,[Plant]
      ,[Sloc]
      ,[NameCost]
      ,[Pallet]
      ,[Barcode]
      ,[ScrapSloc]
      ,[ControlNo]
      ,[FaTool]
      ,[TypeName]
      ,[MVT]
      ,[MoveType]
      ,[UnitPriceAC]
      ,[AmountAC]
      ,[Vendor]
	  ,Remark 
	  --,(select b.VendorName from tbl_VendorMaster b where b.VendorCode=a.Vendor) as VendorName
	  ,VendorName
	  ,(select top 1 c.AccountCost from MaterNametemplate c where c.TypeName LIKE '%' + a.TypeName + '%') as AccountCost
	  ,Remark from [ScrapSystem].[dbo].[ScrapDetails_convert] a where SanctionId=@sacnctionid and Vendor <> '' and Sloc<>''
  
	
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Max_Issue_InOut]    Script Date: 12/22/2025 5:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_Max_Issue_InOut]  --Get_Max_Issue_InOut 'Claim Scrap Material'
	@typename as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @TypeRQ as int 
	declare @Nametemplate as nvarchar(50)

	---set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[tbl_MV_Master_ACC] where MVTypeName like '%'+@typename+'%')

	set @TypeRQ = (select top 1 TypeID FROM [ScrapSystem].[dbo].[MaterNametemplate] where [TypeName] like '%'+@typename+'%')
	print @TypeRQ

	--truong hop typeRQ=23 co 2 loai
	--23.Scrap mixing part
	--23.Scrap mixing part (For Outsourcing)
	if(@typename ='Scrap mixing part')
	begin
		set @Nametemplate =  'A';
	end
	else if(@typename ='Scrap mixing part (For Outsourcing)')
	begin
		set @Nametemplate =  'B'; --form A or Form B
	end
	else
	begin
		set @Nametemplate =  (select top 1 [NameTemplate] FROM [ScrapSystem].[dbo].[MaterNametemplate] where TypeID=@TypeRQ); --form A or Form B
	end

	---FROM [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB] order by ID desc
	print @Nametemplate

	if(@Nametemplate ='B')
	begin
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform  from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssueB]
	end
	else
	begin
		print 'form A'
		select IsNull(max( cast( right(RequestNo, CHARINDEX('-',REVERSE(RequestNo))-1) as int)),0), @TypeRQ as typeRQ, @Nametemplate as tenform from  [Issue_MaterialInOut].[dbo].[tbl_RQ_MaterialIssue]
	end

	


END


--go
--select top 1 TypeID FROM [ScrapSystem].[dbo].[MaterNametemplate] where [TypeName] like '%Claim Scrap Material%'

--select * FROM [ScrapSystem].[dbo].[MaterNametemplate] where TypeID=4
GO
