USE [LichTau]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cat] [nvarchar](50) NULL,
	[Date] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[Weekday] [varchar](20) NULL,
	[IsHoliday] [bit] NULL,
	[Note] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[CreatDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCateConvert]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCateConvert](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameTemplate] [nvarchar](50) NULL,
	[Comment] [nvarchar](50) NULL,
	[Flag_del] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCATEGORY]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCATEGORY](
	[CategoryID] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[bDeleted] [bit] NULL,
	[Codepallet] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMaster_vessel]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMaster_vessel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[cate] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[DestCity] [nvarchar](50) NULL,
	[DestCityName] [nvarchar](50) NULL,
	[PIC] [nvarchar](50) NULL,
	[Consignee] [nvarchar](50) NULL,
	[FCL_Ex_factory] [nvarchar](20) NULL,
	[FCL_ETD] [nvarchar](50) NULL,
	[FCL_ETA] [int] NULL,
	[LLC_Ex_factory] [nvarchar](20) NULL,
	[LLC_ETD] [nvarchar](20) NULL,
	[LLC_ETA] [int] NULL,
	[AIR_Ex_factory] [nvarchar](20) NULL,
	[AIR_ETD] [nvarchar](50) NULL,
	[AIR_ETA] [int] NULL,
	[Special_exfactory_date] [int] NULL,
	[SpecialETD_week] [int] NULL,
	[Special_ETA_Date] [int] NULL,
	[Can_combine] [nvarchar](20) NULL,
	[CreateTime] [datetime] NULL,
	[UserCreate] [nvarchar](20) NULL,
	[UpdateTime] [datetime] NULL,
	[UserUpdate] [nvarchar](50) NULL,
	[Flag] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMaterModelSCM]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMaterModelSCM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT] [nvarchar](50) NULL,
	[Consignee_Refer_ATP] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Dest] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Stuffing_type] [nvarchar](50) NULL,
	[Model_Vol] [float] NULL,
	[Pcs_ctn] [int] NULL,
	[CTN_part] [nvarchar](50) NULL,
	[CTN_vol] [int] NULL,
	[Gross_weight] [float] NULL,
	[CTNweight] [float] NULL,
	[Series] [nvarchar](50) NULL,
	[MaxQty_cont40H] [int] NULL,
	[Max_Qty_cont20F] [int] NULL,
	[DIM_of_Carton_L] [nvarchar](50) NULL,
	[DIM_of_Carton_W] [nvarchar](50) NULL,
	[DIM_of_Carton_H] [nvarchar](10) NULL,
	[CreateTime] [datetime] NULL,
	[UserCreate] [nvarchar](20) NULL,
	[UpdateTime] [datetime] NULL,
	[UserUpdate] [nvarchar](20) NULL,
	[Flag] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSettingConvertVessel]    Script Date: 3/10/2026 1:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSettingConvertVessel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cat] [nvarchar](2) NULL,
	[sa] [nvarchar](2) NULL,
	[name] [nvarchar](2) NULL,
	[produce_model] [nvarchar](2) NULL,
	[jit_qty] [nvarchar](2) NULL,
	[ship_date] [nvarchar](2) NULL,
	[delay1_date] [nvarchar](2) NULL,
	[delay1_qty] [nvarchar](2) NULL,
	[delay2_date] [nvarchar](2) NULL,
	[delay2_qty] [nvarchar](2) NULL,
	[delay3_date] [nvarchar](2) NULL,
	[delay3_qty] [nvarchar](2) NULL,
	[delay4_date] [nvarchar](2) NULL,
	[delay4_qty] [nvarchar](2) NULL,
	[delay5_date] [nvarchar](2) NULL,
	[delay5_qty] [nvarchar](2) NULL,
	[rowid] [nvarchar](2) NULL,
	[FlagDel] [tinyint] NULL,
	[EditTime] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[NameTemplate] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblMasterTemplateVessel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTempConvertVessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTempConvertVessel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[sa] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[producemodel] [varchar](50) NULL,
	[ReqQty] [int] NULL,
	[jitqty] [int] NULL,
	[shipdate] [datetime] NULL,
	[delay1date] [datetime] NULL,
	[delay1qty] [int] NULL,
	[delay2date] [datetime] NULL,
	[delay2qty] [int] NULL,
	[delay3date] [datetime] NULL,
	[delay3qty] [int] NULL,
	[delay4date] [datetime] NULL,
	[delay4qty] [int] NULL,
	[delay5date] [datetime] NULL,
	[delay5qty] [int] NULL,
	[TemplateName] [nvarchar](50) NULL,
	[KeyConvert] [nvarchar](50) NULL,
	[FlagDel] [int] NULL,
	[EditTime] [datetime] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tblMasterConvertVessel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVanningDate]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVanningDate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sheet] [nvarchar](50) NULL,
	[Cat] [nvarchar](50) NULL,
	[Shipmode] [nvarchar](50) NULL,
	[Consignee] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Destination] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[ATPdate] [datetime] NULL,
	[Volume] [nvarchar](50) NULL,
	[Grossweight] [nvarchar](50) NULL,
	[TTLVolume] [float] NULL,
	[TTLcont] [float] NULL,
	[Qtycont] [int] NULL,
	[TTLcont2] [float] NULL,
	[Exfactorydate] [datetime] NULL,
	[ETD] [datetime] NULL,
	[ETA] [datetime] NULL,
	[Cancombine] [nvarchar](50) NULL,
	[Risky] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UserCreate] [nvarchar](20) NULL,
	[UpdateTime] [datetime] NULL,
	[Userupdate] [nvarchar](20) NULL,
	[Flag] [tinyint] NULL,
	[NameGroup] [nvarchar](50) NULL,
	[Remark] [nvarchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVanningDate_History]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVanningDate_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sheet] [nvarchar](50) NULL,
	[Cat] [nvarchar](50) NULL,
	[Shipmode] [nvarchar](50) NULL,
	[Consignee] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Destination] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[ATPdate] [datetime] NULL,
	[Volume] [nvarchar](50) NULL,
	[Grossweight] [nvarchar](50) NULL,
	[TTLVolume] [float] NULL,
	[TTLcont] [float] NULL,
	[Qtycont] [int] NULL,
	[TTLcont2] [float] NULL,
	[Exfactorydate] [datetime] NULL,
	[ETD] [datetime] NULL,
	[ETA] [datetime] NULL,
	[Cancombine] [nvarchar](50) NULL,
	[Risky] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UserCreate] [nvarchar](20) NULL,
	[UpdateTime] [datetime] NULL,
	[Userupdate] [nvarchar](20) NULL,
	[Flag] [tinyint] NULL,
	[NameGroup] [nvarchar](50) NULL,
	[Remark] [nvarchar](300) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Holiday] ADD  CONSTRAINT [DF_Holiday_CreatDate]  DEFAULT (getdate()) FOR [CreatDate]
GO
ALTER TABLE [dbo].[tblCateConvert] ADD  CONSTRAINT [DF_tblCateConvert_Flag_del]  DEFAULT ((0)) FOR [Flag_del]
GO
ALTER TABLE [dbo].[tblMaster_vessel] ADD  CONSTRAINT [DF_tblMaster_vessel_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[tblMaster_vessel] ADD  CONSTRAINT [DF_tblMaster_vessel_Flag]  DEFAULT ((0)) FOR [Flag]
GO
ALTER TABLE [dbo].[tblMaterModelSCM] ADD  CONSTRAINT [DF_tblMaterModelSCM_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[tblMaterModelSCM] ADD  CONSTRAINT [DF_tblMaterModelSCM_Flag]  DEFAULT ((0)) FOR [Flag]
GO
ALTER TABLE [dbo].[tblSettingConvertVessel] ADD  CONSTRAINT [DF_tblSettingConvertVessel_FlagDel]  DEFAULT ((0)) FOR [FlagDel]
GO
ALTER TABLE [dbo].[tblTempConvertVessel] ADD  CONSTRAINT [DF_tblTempConvertVessel_FlagDel]  DEFAULT ((0)) FOR [FlagDel]
GO
ALTER TABLE [dbo].[tblTempConvertVessel] ADD  CONSTRAINT [DF_tblTempConvertVessel_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[tblVanningDate] ADD  CONSTRAINT [DF_tblVanningDate_CreateTime_1]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[tblVanningDate] ADD  CONSTRAINT [DF_tblVanningDate_Flag_1]  DEFAULT ((0)) FOR [Flag]
GO
ALTER TABLE [dbo].[tblVanningDate_History] ADD  CONSTRAINT [DF_tblVanningDate_History_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[tblVanningDate_History] ADD  CONSTRAINT [DF_tblVanningDate_History_Flag]  DEFAULT ((0)) FOR [Flag]
GO
/****** Object:  StoredProcedure [dbo].[Calculator_lichtau]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Calculator_lichtau]  --Calculator_lichtau 'Dect','2025-09-01','2025-09-30'
	@Category_ as nvarchar(20), 
	@_fromdate as nvarchar(50),
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	print @fromDateTime
	print @toDateTime

	select * from tblVanningDate where Cat = @Category_ and CreateTime between @fromDateTime and @toDateTime
  

END
GO
/****** Object:  StoredProcedure [dbo].[Check_special_note_remark]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Check_special_note_remark] --Check_special_note_remark '','','',''
	@Category_ as nvarchar(50), 
	@modelname as nvarchar(50), 
	@Country as nvarchar(50), 
	@Destination as nvarchar(50)
AS
BEGIN
	
	if exists(select top 1 ID from tblMaster_vessel where DestCity=@Destination and cate=@Category_)
	begin

		select top 1 1, Special_exfactory_date,SpecialETD_week,Special_ETA_Date from tblMaster_vessel where DestCity=@Destination and cate=@Category_

	end
	else
	begin
		--khong ton tai trong mater
		select 0,0,0,0
	end

	


END
GO
/****** Object:  StoredProcedure [dbo].[Check_upload_Vessel_convert]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Check_upload_Vessel_convert] 
	@type_convert as nvarchar(50), 
	@produce_model as nvarchar(50), 
	@ship_date as datetime, 
	@jit_qty as int,
	@Cat as nvarchar(50), 
	@_fromdate as nvarchar(50),
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    if exists(select * from tblTempConvertVessel where TemplateName=@type_convert and producemodel=@produce_model and CONVERT(date,shipdate)=CONVERT(date,@ship_date) and ReqQty=@jit_qty)
	begin
		--da ton tai ban ghi
		select 1
	end
	else
	begin
		--chua ton tai
		select 0
	end



END
GO
/****** Object:  StoredProcedure [dbo].[Delete_EXfactory_ETD]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_EXfactory_ETD]
	@IDdel as nvarchar(50),
	@userid as nvarchar(50)

AS
BEGIN
	--SET NOCOUNT ON;
	---chuyen @userid len de sau nay phan quyen user nao moi duoc phep xoa


	if exists(select * from tblVanningDate where ID=cast(@IDdel as int))
	begin
		delete tblVanningDate where ID=cast(@IDdel as int)
		--update tblVanningDate set Flag=1 where ID=cast(@IDdel as int)
		select 1
	end
	else
	begin
		select 0
	end

END
GO
/****** Object:  StoredProcedure [dbo].[Delete_holiday_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_holiday_vessel] 
	-- Add the parameters for the stored procedure here
	@id as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    delete [LichTau].[dbo].[Holiday] where Id=@id

	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Delete_mater_ModelSCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_mater_ModelSCM]
	@id as nvarchar(50)
AS
BEGIN
	
	update tblMaterModelSCM set Flag=1,UpdateTime = getdate() where ID=cast(@id as int)

	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Delete_materVessel_SCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Delete_materVessel_SCM]
	@id as nvarchar(50)
AS
BEGIN

	--SET NOCOUNT ON;
	update tblMaster_vessel set Flag=1,UpdateTime = getdate() where ID=cast(@id as int)

	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Get_info_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_info_vessel]  --Get_info_vessel 'MTV','Panama','DECT'
	@Destination as nvarchar(50), 
	@Country as nvarchar(50), 
	@Category_ as nvarchar(20)
AS
BEGIN

	if exists(select top 1 * from tblMaster_vessel where cate=@Category_ and DestCity=@Destination)
	begin
		select 1,
		FCL_Ex_factory
      ,FCL_ETD
      ,FCL_ETA
      ,LLC_Ex_factory
      ,LLC_ETD
      ,LLC_ETA
      ,AIR_Ex_factory
      ,AIR_ETD
      ,AIR_ETA
	  ,Special_exfactory_date
	  ,SpecialETD_week
	  ,Special_ETA_Date from tblMaster_vessel where cate=@Category_ and DestCity=@Destination
	end
	else
	begin
		select 0
	end

END
GO
/****** Object:  StoredProcedure [dbo].[get_infor_cal_risk]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_infor_cal_risk]  -- get_infor_cal_risk 'PIS','6/26/2025 12:00:00 AM','OK','1','DECT'
	@Destination as nvarchar(50), 
	@Exfactorydate as nvarchar(50), 
	@cancombine as nvarchar(20),
	@ID_lichtau as nvarchar(20),
	@Category_ as nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   declare @Qty_TTLvolume as float
   declare @thongbao as nvarchar(50)

   ---select CONVERT(date,@Exfactorydate)

   

   --select @Qty_TTLvolume
   if(@cancombine ='OK')
   begin
		--tinh sum cho all cate
		set @Qty_TTLvolume = (select sum(TTLVolume) as qty_volume from tblVanningDate where Destination =@Destination and CONVERT(date,Exfactorydate)=CONVERT(date,@Exfactorydate) and Cancombine=@cancombine)

		if(@Qty_TTLvolume < 7)   ---TTL vol < 7m3
		begin
			set @thongbao = 'Chú ý LCL'  --Chú ý LCL
		end
		else
		begin
			set @thongbao = ''  --khong hien thi gi
		end
		--print 'vao OK'
		--print @Qty_TTLvolume
		--print @thongbao
		--update thong tin
		update tblVanningDate set Risky=@thongbao where ID=cast(@ID_lichtau as int)
   end
   else
   begin
		---@cancombine ='NG'  -> sum theo cate
		set @Qty_TTLvolume = (select sum(TTLVolume) as qty_volume from tblVanningDate where Destination =@Destination and CONVERT(date,Exfactorydate)=CONVERT(date,@Exfactorydate) and Cancombine=@cancombine and cat=@Category_)

		if(@Qty_TTLvolume < 7)   ---TTL vol < 7m3
		begin
			----set @thongbao = 'Chu y LCL'  --Chú ý LCL
			set @thongbao = 'Chú ý LCL'  --Chú ý LCL
		end
		else
		begin
			set @thongbao = ''  --khong hien thi gi
		end
		--update thong tin
		update tblVanningDate set Risky=@thongbao where ID=cast(@ID_lichtau as int)
   end

   select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_mater_model]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_mater_model]  -- Get_infor_mater_model 'DD008-V4','DECT','PA-PSP-DD'
	@Model as nvarchar(50), 
	@Cat as nvarchar(20),
	@Consignee as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @cancombine as nvarchar(50)
	declare @dest as nvarchar(50)

    if exists(select top 1 ID from tblMaterModelSCM where Model=@Model and CAT=@Cat and Consignee_Refer_ATP=@Consignee)
	begin
		set @dest = (select top 1 Dest  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat and Consignee_Refer_ATP=@Consignee)
		set @cancombine = (select top 1 Can_combine from tblMaster_vessel (nolock) where DestCity=@dest)

		select 1,Country,Dest,Model_Vol,Gross_weight,@cancombine as cancombine,Pcs_ctn,CTN_vol,CTNweight  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat and Consignee_Refer_ATP=@Consignee
	end
	else
	begin
		select 0,'' as Country,'' as Dest,0 as Model_Vol,0 as Gross_weight,0 as Pcs_ctn,0 as CTN_vol ,0 as CTNweight
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_mater_model2]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_mater_model2]
	@Model as nvarchar(50), 
	@CAT as nvarchar(20),
	@Country as nvarchar(50),
	@Dest as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--declare @cancombine as nvarchar(50)
	--declare @dest as nvarchar(50)

    if exists(select top 1 ID from tblMaterModelSCM (nolock) where Model=@Model and CAT=@CAT and Country=@Country and Dest=@Dest)
	begin
		--set @dest = (select top 1 Dest  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat)
		--set @cancombine = (select top 1 Can_combine from tblMaster_vessel (nolock) where DestCity=@dest)
		select 1
		--select 1,Country,Dest,Model_Vol,Gross_weight,@cancombine as cancombine  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat
	end
	else
	begin
		select 0
		--select 0,'' as Country,'' as Dest,0 as Model_Vol,0 as Gross_weight 
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_mater_template]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_mater_template]
	@temp as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;

   select * from tblTempConvertVessel where KeyConvert=@temp

END
GO
/****** Object:  StoredProcedure [dbo].[Get_infor_mater_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_infor_mater_vessel]
	@cate as nvarchar(50), 
	@Country as nvarchar(50), 
	@DestCity as nvarchar(50), 
	@Consignee as nvarchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

   if exists(select top 1 ID from tblMaster_vessel (nolock) where cate=@cate and Country=@Country and DestCity=@DestCity and Consignee=@Consignee)
	begin
		--set @dest = (select top 1 Dest  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat)
		--set @cancombine = (select top 1 Can_combine from tblMaster_vessel (nolock) where DestCity=@dest)
		select 1
		--select 1,Country,Dest,Model_Vol,Gross_weight,@cancombine as cancombine  from tblMaterModelSCM (nolock) where Model=@Model and CAT=@Cat
	end
	else
	begin
		select 0
		--select 0,'' as Country,'' as Dest,0 as Model_Vol,0 as Gross_weight 
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Insert_holiday_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_holiday_vessel]
	@cateid_ as nvarchar(50), 
	@datefromid_ as nvarchar(50), 
	@datetoid_ as nvarchar(50), 
	@weekid_ as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   insert into [LichTau].[dbo].[Holiday] ([Cat]
      ,[Date]
      ,[DateTo]
      ,[Weekday]) values (
	  @cateid_,convert(date,@datefromid_),convert(date,@datetoid_),@weekid_
	  )

	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Insert_mater_ModelSCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_mater_ModelSCM]
	@CAT as nvarchar(20), 
	@Consignee_Refer_ATP as nvarchar(50),
	@Country as nvarchar(50), 
	@Dest as nvarchar(50),
	@Model as nvarchar(50), 
	@Stuffing_type as nvarchar(50),
	@Model_Vol as nvarchar(50),
	@Pcs_ctn as nvarchar(50),
	@CTN_part as nvarchar(50),
	@CTN_vol as nvarchar(50),
	@Gross_weight as nvarchar(50),
	@Series as nvarchar(50),
	@MaxQty_cont40H as nvarchar(50),
	@Max_Qty_cont20F as nvarchar(50),
	@DIM_of_Carton_L as nvarchar(50), 
	@DIM_of_Carton_W as nvarchar(50), 
	@DIM_of_Carton_H as nvarchar(50),
	@CTNweight as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;
	if not exists(select * from tblMaterModelSCM where CAT=@CAT and Model=@Model)
	begin
		insert into tblMaterModelSCM(
		[CAT]
      ,[Consignee_Refer_ATP]
      ,[Country]
      ,[Dest]
      ,[Model]
      ,[Stuffing_type]
      ,[Model_Vol]
      ,[Pcs_ctn]
      ,[CTN_part]
      ,[CTN_vol]
      ,[Gross_weight]
	  ,[CTNweight]
      ,[Series]
      ,[MaxQty_cont40H]
      ,[Max_Qty_cont20F]
      ,[DIM_of_Carton_L]
      ,[DIM_of_Carton_W]
      ,[DIM_of_Carton_H]
		) values (
		@CAT, @Consignee_Refer_ATP, @Country, @Dest, @Model, @Stuffing_type, cast(@Model_Vol as float), cast(@Pcs_ctn as int), @CTN_part, cast(@CTN_vol as int), cast(@Gross_weight as float),cast(@CTNweight as float), @Series, cast(@MaxQty_cont40H as int), cast(@Max_Qty_cont20F as int), @DIM_of_Carton_L, @DIM_of_Carton_W, @DIM_of_Carton_H
		)
		select 1
	end
	else
	begin
		select 0
	end
    
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_materVessel_SCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_materVessel_SCM]
	@cate as nvarchar(20), 
	@Area as nvarchar(50), 
	@Country as nvarchar(50), 
	@DestCity as nvarchar(50), 
	@DestCityName as nvarchar(50), 
	@PIC as nvarchar(20), 
	@Consignee as nvarchar(50),
	@FCL_Ex_factory as nvarchar(50), 
	@FCL_ETD as nvarchar(50), 
	@FCL_ETA as nvarchar(50), 
	@LLC_Ex_factory as nvarchar(50),
	@LLC_ETD as nvarchar(50),
	@LLC_ETA as nvarchar(50),
	@AIR_Ex_factory as nvarchar(50), 
	@AIR_ETD as nvarchar(50), 
	@AIR_ETA as nvarchar(50), 
	@Special_exfactory_date as nvarchar(50),
	@SpecialETD_week as nvarchar(50),
	@Special_ETA_Date as nvarchar(50), 
	@Can_combine as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;
	if not exists(select * from tblMaster_vessel where cate=@cate and Country=@Country and DestCity=@DestCity)
	begin
		insert into tblMaster_vessel(
		[cate]
      ,[Area]
      ,[Country]
      ,[DestCity]
      ,[DestCityName]
      ,[PIC]
      ,[Consignee]
      ,[FCL_Ex_factory]
      ,[FCL_ETD]
      ,[FCL_ETA]
      ,[LLC_Ex_factory]
      ,[LLC_ETD]
      ,[LLC_ETA]
      ,[AIR_Ex_factory]
      ,[AIR_ETD]
      ,[AIR_ETA]
      ,[Special_exfactory_date]
      ,[SpecialETD_week]
      ,[Special_ETA_Date]
      ,[Can_combine]
		) values (@cate, @Area, @Country, @DestCity, @DestCityName, @PIC, @Consignee, @FCL_Ex_factory, @FCL_ETD, cast(@FCL_ETA as int), @LLC_Ex_factory, @LLC_ETD, cast(@LLC_ETA as int), @AIR_Ex_factory, @AIR_ETD, cast(@AIR_ETA as int), @Special_exfactory_date, cast(@SpecialETD_week as int), @Special_ETA_Date, @Can_combine)
		select 1
	end
	else
	begin
		select 0
	end


END
GO
/****** Object:  StoredProcedure [dbo].[pro_get_categogy]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pro_get_categogy] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select CategoryName,[Description] from tblCATEGORY where bDeleted=0

END
GO
/****** Object:  StoredProcedure [dbo].[pro_get_categogy_convert]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pro_get_categogy_convert] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select NameTemplate,[Comment] from tblCateConvert where Flag_del=0

END
GO
/****** Object:  StoredProcedure [dbo].[pro_get_categogy_keyconvert]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pro_get_categogy_keyconvert] --pro_get_categogy_keyconvert '2025-11-28','2025-11-28'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select distinct KeyConvert from tblTempConvertVessel 
   --WHERE CreateDate >= @_fromdate AND CreateDate < DATEADD(day, 1, @_todate)

END
GO
/****** Object:  StoredProcedure [dbo].[pro_get_namegroup]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[pro_get_namegroup] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select distinct NameGroup from tblVanningDate_History

END
GO
/****** Object:  StoredProcedure [dbo].[Save_lichtau_history]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Save_lichtau_history]  --Save_lichtau_history '','2025-10-01','2025-10-03'
	@Category_ as nvarchar(20), 
	@_fromdate as nvarchar(50),
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION;
			DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
			DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

			--print @fromDateTime
			--print @toDateTime
			declare @chuoiupload as nvarchar(50)
			declare @unitno as int
			
			if exists(select top 1 (ID) from tblVanningDate_History ) --where Cat = @Category_ and CreateTime between @fromDateTime and @toDateTime
			begin
				--so unit no tu tang
				set @chuoiupload = (select top 1 NameGroup from tblVanningDate_History order by ID desc);
				set @unitno = cast ( (SELECT SUBSTRING(@chuoiupload, CHARINDEX('_', @chuoiupload) + 1, LEN(@chuoiupload))) as int)+ 1;				
			end
			else
			begin
				set @unitno = 1
			end

			print @unitno

			--Cat = @Category_ and

			if exists(select top 1 ID from tblVanningDate where CreateTime between @fromDateTime and @toDateTime)
			begin
					----insert history
					INSERT INTO tblVanningDate_History (
					[Sheet], [Cat], [Shipmode], [Consignee], [Country], [Destination],
					[Model], [Quantity], [ATPdate], [Volume], [Grossweight], [TTLVolume],
					[TTLcont], [Qtycont], [TTLcont2], [Exfactorydate], [ETD], [ETA],
					[Cancombine], [Risky], [CreateTime], [UserCreate], [UpdateTime],
					[Userupdate], [Flag], [NameGroup]
				)
				SELECT 
					[Sheet], [Cat], [Shipmode], [Consignee], [Country], [Destination],
					[Model], [Quantity], [ATPdate], [Volume], [Grossweight], [TTLVolume],
					[TTLcont], [Qtycont], [TTLcont2], [Exfactorydate], [ETD], [ETA],
					[Cancombine], [Risky], [CreateTime], [UserCreate], [UpdateTime],
					[Userupdate], [Flag], CONVERT(VARCHAR(8), GETDATE(), 112) + '_'+cast(@unitno as nvarchar(10)) AS [NameGroup]
				FROM tblVanningDate
				WHERE  CreateTime BETWEEN @fromDateTime AND @toDateTime;  --Cat = @Category_ AND

				--20250916155312
				--năm 2025, tháng 09, ngày 16, 15 giờ 53 phút 12 giây
				--[Cat]+'_'+REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR, GETDATE(), 120), '-', ''), ':', ''), ' ', '') AS [NameGroup]

					--xoa lich cu de insert lich moi
					DELETE FROM tblVanningDate WHERE CreateTime BETWEEN @fromDateTime AND @toDateTime;  --Cat = @Category_ AND

				---thuc hien giao dich ok
				select 1

			end
			else
			begin
				select 0	---khong ton tai ban ghi na
			end


        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

       
		RAISERROR('Đã xảy ra lỗi trong stored procedure.', 16, 1);
    END CATCH


END
GO
/****** Object:  StoredProcedure [dbo].[Select_holiday_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_holiday_vessel]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
SELECT TOP (1000) [Id]
      ,[Cat]
      ,[Date]
      ,[DateTo]
      ,[Weekday]
      ,[IsHoliday]
      ,[Note]
      ,[UserId]
      ,[CreatDate]
  FROM [LichTau].[dbo].[Holiday] order by CreatDate desc



END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ModelSCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_ModelSCM]
	
AS
BEGIN
	
	select top 5000 * from tblMaterModelSCM where Flag = 0

END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_ModelSCM_cate]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Mater_ModelSCM_cate]
	@category as nvarchar(50)
AS
BEGIN
	
	select top 5000 * from tblMaterModelSCM where Flag = 0 and CAT=@category

END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_VesselSCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Mater_VesselSCM]
	
AS
BEGIN
	
	select top 5000 * from tblMaster_vessel where Flag=0


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Mater_VesselSCM_cate]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Select_Mater_VesselSCM_cate]
	@category as nvarchar(50)
AS
BEGIN
	
	select top 5000 * from tblMaster_vessel where Flag=0 and cate=@category


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky]  --Select_Report_Risky '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	--declare @sql2 as nvarchar(max);

	--set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky from tblVanningDate where Risky <>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' order by Destination,Exfactorydate asc  '

	set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky,Grossweight,TTLVolume from tblVanningDate where Risky<>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+'''  order by Destination,Exfactorydate asc  '  ---and Destination=''GOA'' 
	
	--select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky 
 -- from tblVanningDate where Risky <>''  order by Destination,ETD asc 

	--if(@uploadno <> '==UploadNo==')
	--begin
	--	set @sql1 += ' and NameGroup='''+@uploadno+''' '		
	--end
	--if(@_modelname <> '')
	--begin
	--	set @sql1 += ' and Model='''+@_modelname+''' '		
	--end
	--if(@_countryname <> '')
	--begin
	--	set @sql1 += ' and Country='''+@_countryname+''' '		
	--end

	print @sql1
		
	exec(@sql1)




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky_group]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky_group]  --Select_Report_Risky_group '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	print @fromDateTime
	print @toDateTime

	---group by theo consignee  --bo dieu kien: ,Exfactorydate
	select distinct Consignee, Shipmode,Destination,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' and Risky<>''
	--old
	--select distinct Shipmode,Destination,Exfactorydate,Cancombine,Cat,Risky from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' and Risky<>''
	
	-- and Destination='GOA'

	
	---select distinct Consignee, Shipmode,Destination,Exfactorydate,Cancombine,Cat from tblVanningDate where Consignee='PA-PSP-DD' and Destination <>'' and Risky<>''
	--PA-PSP-DD


	
	
	




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky2]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky2]  --Select_Report_Risky2 '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	--declare @sql2 as nvarchar(max);

	--set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky from tblVanningDate where Risky <>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' order by Destination,Exfactorydate asc  '

	set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,convert(date,ETD) as ETD,ETA,Cancombine,Risky,Grossweight,TTLVolume from tblVanningDate where CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+'''  order by Destination,ETD asc  '  ---and Destination=''GOA'' 
	
	--select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky 
 -- from tblVanningDate where Risky <>''  order by Destination,ETD asc 

	--if(@uploadno <> '==UploadNo==')
	--begin
	--	set @sql1 += ' and NameGroup='''+@uploadno+''' '		
	--end
	--if(@_modelname <> '')
	--begin
	--	set @sql1 += ' and Model='''+@_modelname+''' '		
	--end
	--if(@_countryname <> '')
	--begin
	--	set @sql1 += ' and Country='''+@_countryname+''' '		
	--end

	print @sql1
		
	exec(@sql1)




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Sum]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Sum]  --Select_Report_Sum '2025-10-01','2025-10-21','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sum_qty as int
	declare @sum_TLL as float

	declare @sum_grossweight as float
	declare @sum_volume as float

	set @sum_qty = (select sum(Quantity) from tblVanningDate where CreateTime between @fromDateTime and @toDateTime )  --and Destination='GOA'
	set @sum_TLL = (select sum(TTLcont) from tblVanningDate where CreateTime between @fromDateTime and @toDateTime )  --and Destination='GOA'

	set @sum_grossweight = (select sum(cast(Grossweight as float)) from tblVanningDate where CreateTime between @fromDateTime and @toDateTime )
	set @sum_volume = (select sum(TTLVolume) from tblVanningDate where CreateTime between @fromDateTime and @toDateTime )

	
	select @sum_qty as QTY, ROUND(@sum_TLL, 3) AS TLLvolume, round(@sum_grossweight,3) as grossweight,round(@sum_volume,3) as sumvolume
	
	
	




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_TTL_group]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_TTL_group]  --Select_Report_TTL_group '2025-12-01','2025-12-28','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	print @fromDateTime
	print @toDateTime
	-----,Cat
	--select distinct Shipmode,Destination,Exfactorydate,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' 
	---Consignee va ETD date (khong phai exfactory date)
	--select distinct Consignee,Shipmode,Country,Destination,ETD,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' 
	-- and Destination='GOA'


	select distinct Consignee,Shipmode,Country,Destination,convert(date,ETD) as ETD,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' --order by ETD asc

	
	
	




END
GO
/****** Object:  StoredProcedure [dbo].[Select_setting_toolvessle]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_setting_toolvessle] --Select_setting_toolvessle 'DPOversea'
	@Typeconvert as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	select * from tblSettingConvertVessel where NameTemplate = @Typeconvert


END
GO
/****** Object:  StoredProcedure [dbo].[Select_TempConvertVessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_TempConvertVessel]  --Select_TempConvertVessel '2025-11-28','2025-11-28'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	select *  FROM tblTempConvertVessel WHERE CreateDate >= @_fromdate
  AND CreateDate < DATEADD(day, 1, @_todate)
   
END
GO
/****** Object:  StoredProcedure [dbo].[Select_TempConvertVessel_keyconvert]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_TempConvertVessel_keyconvert]  --Select_TempConvertVessel_keyconvert '2025-11-28','2025-11-28','=IDName=','DPOversea'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@KeyConvert as nvarchar(50),
	@template_name as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	---=Template=  template
	--=IDName=    keyconvert

	if(@KeyConvert !='=IDName=')
	begin
		print 'vao1'
		select *  FROM tblTempConvertVessel where KeyConvert=@KeyConvert
	end
	else
	begin
		if(@template_name != '=Template=')
		begin
			print 'vao2'
			select top 2000 *  FROM tblTempConvertVessel where TemplateName=@template_name order by Id desc---and CreateDate between CONVERT(date,@_fromdate) and CONVERT(date,@_todate)
		end
		else
		begin
			print 'vao3'
			select *  FROM tblTempConvertVessel where TemplateName=@template_name and convert(date,CreateDate)=CONVERT(date,GETDATE())
		end
	end

	
	
	--CONVERT(date,CreateDate) between CONVERT(date,@_fromdate) and CONVERT(date,@_todate)
   
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Upload_VanningDate]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Upload_VanningDate]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select top 1000 * from tblVanningDate order by CreateTime desc


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Upload_VanningDate2]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Upload_VanningDate2]
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

    select top 1000 * from tblVanningDate where CreateTime between @fromDateTime and @toDateTime


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Upload_VanningDate2_cate]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Select_Upload_VanningDate2_cate]
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

    select top 1000 * from tblVanningDate where Cat=@category and CreateTime between @fromDateTime and @toDateTime


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Upload_VanningDate2_cate_HS]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Upload_VanningDate2_cate_HS]  --Select_Upload_VanningDate2_cate_HS '2025-12-08','2025-12-08','DECT','off','==UploadNo==','','' 
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@statushistory as nvarchar(10),
	@uploadno as nvarchar(100),
	@_modelname as nvarchar(50), 
	@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	declare @sql2 as nvarchar(max);

	set @sql1 = 'select top 1000 * from tblVanningDate_History where Cat='''+@category+''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' '
	set @sql2 = 'select top 1000 * from tblVanningDate where Cat='''+@category+''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' '

	if(@uploadno <> '==UploadNo==')
	begin
		set @sql1 += ' and NameGroup='''+@uploadno+''' '
		set @sql2 += ' and NameGroup='''+@uploadno+''' '
	end
	if(@_modelname <> '')
	begin
		set @sql1 += ' and Model='''+@_modelname+''' '
		set @sql2 += ' and Model='''+@_modelname+''' '
	end
	if(@_countryname <> '')
	begin
		set @sql1 += ' and Country='''+@_countryname+''' '
		set @sql2 += ' and Country='''+@_countryname+''' '
	end

	print @sql1
	print @sql2


	if(@statushistory = 'on')
	begin
		--show history		
		print 'vao1'
		exec(@sql1)
		--if(@uploadno = '==UploadNo==')
		--begin
		--	select top 1000 * from tblVanningDate_History where Cat=@category and CreateTime between @fromDateTime and @toDateTime
		--end
		--else
		--begin
		--	select top 1000 * from tblVanningDate_History where Cat=@category and CreateTime between @fromDateTime and @toDateTime and NameGroup=@uploadno
		--end
		
	end
	else
	begin
		--select top 1000 * from tblVanningDate where Cat=@category and CreateTime between @fromDateTime and @toDateTime
		print 'vao2'
		exec (@sql2)
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Select_Upload_VanningDate2_HS]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Upload_VanningDate2_HS] --Select_Upload_VanningDate2_HS '2025-10-01','2025-10-24','off','','',''
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@statushistory as nvarchar(10),
	@uploadno as nvarchar(100),
	@_modelname as nvarchar(50), 
	@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	declare @sql2 as nvarchar(max);

	set @sql1 = 'select top 1000 * from tblVanningDate_History where CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' '
	set @sql2 = 'select top 1000 * from tblVanningDate where CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' '

	print @sql1
	

	if(@uploadno <> '==UploadNo==')
	begin
		set @sql1 += ' and NameGroup='''+@uploadno+''' '
		set @sql2 += ' and NameGroup='''+@uploadno+''' '
	end
	if(@_modelname <> '')
	begin
		set @sql1 += ' and Model='''+@_modelname+''' '
		set @sql2 += ' and Model='''+@_modelname+''' '
	end
	if(@_countryname <> '')
	begin
		set @sql1 += ' and Country='''+@_countryname+''' '
		set @sql2 += ' and Country='''+@_countryname+''' '
	end
	
	

	if(@statushistory = 'on')
	begin
		--show history
		print 'vao1'
		exec(@sql1)
		--if(@uploadno = '==UploadNo==')
		--begin
		--	select top 1000 * from tblVanningDate_History where CreateTime between @fromDateTime and @toDateTime
		--end
		--else
		--begin
		--	select top 1000 * from tblVanningDate_History where CreateTime between @fromDateTime and @toDateTime and NameGroup=@uploadno
		--end

	end
	else
	begin
		--select top 1000 * from tblVanningDate where CreateTime between @fromDateTime and @toDateTime
		print 'vao2'
		print @sql2
		exec (@sql2)
		---select top 1000 * from tblVanningDate where CreateTime between @fromDateTime and @toDateTime
	end

    


END
GO
/****** Object:  StoredProcedure [dbo].[update_EXfactory_ETD]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_EXfactory_ETD]
	@IDupdate as nvarchar(10), 
	@Exfactory_date as nvarchar(50),
	@ETD_date as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   update tblVanningDate set Exfactorydate=CONVERT(date,@Exfactory_date),ETD=CONVERT(date,@ETD_date) where ID=cast(@IDupdate as int)

   select 1

END
GO
/****** Object:  StoredProcedure [dbo].[Update_holiday_vessel]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_holiday_vessel]
	@id as nvarchar(50), 
	@datefrom as nvarchar(50), 
	@dateto as nvarchar(50), 
	@week as nvarchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Update [LichTau].[dbo].[Holiday] set [Date]=@datefrom,[DateTo]=@dateto,[Weekday]=@week where Id=@id
    
	select 1

END
GO
/****** Object:  StoredProcedure [dbo].[update_infor_remark]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[update_infor_remark]
	@note_remark as nvarchar(300), 
	@ID_lichtau as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION;
		--update thong tin
		update tblVanningDate set Remark=@note_remark where ID=cast(@ID_lichtau as int)

		select 1

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
    -- Nếu có lỗi, rollback giao dịch
    IF XACT_STATE() <> 0
    BEGIN
        ROLLBACK TRANSACTION;
    END

    -- Lấy thông tin lỗi
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    -- Bạn có thể in lỗi ra, hoặc log lỗi vào bảng lỗi
    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;


END
GO
/****** Object:  StoredProcedure [dbo].[Update_lichtau]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_lichtau]   --Update_lichtau '9/5/2025 12:00:00 AM','9/1/2025 12:00:00 AM','4'
	@resultDay as nvarchar(50), 
	@resultDay2 as nvarchar(50), 
	@ID_lichtau as nvarchar(10)
AS
BEGIN

	SET NOCOUNT ON;
	declare @exFactoryDate as Datetime	
	--kiem tra xem ngay xuat hang nha may co la ngay HOLIDAY khong? => neu vao ngay holiday thi tien len phia truoc 1 ngay

    BEGIN TRY
        BEGIN TRANSACTION;

		if exists(select * from Holiday where CONVERT(date,[Date])=convert(date,@resultDay))
		begin
			--print 'vao holiday'
			--Lui 1 ngay so voi lich da tinh **** truong hop lich nghi dai ngay **** test sau
			SET @exFactoryDate = DATEADD(DAY, -1, @resultDay);
		end
		else
		begin
			SET @exFactoryDate = convert(date,@resultDay);
		end
		print @exFactoryDate
		
		update tblVanningDate set Exfactorydate=@exFactoryDate,ETD=convert(date,@resultDay2) where ID = cast(@ID_lichtau as int)
		--update tblVanningDate set Exfactorydate=convert(date,@resultDay),ETD=convert(date,@resultDay2) where ID = cast(@ID_lichtau as int)


		COMMIT TRANSACTION;

		select 1


   END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Trả lỗi về client
        --SELECT 
        --    ERROR_NUMBER() AS ErrorNumber,
        --    ERROR_MESSAGE() AS ErrorMessage,
        --    ERROR_LINE() AS ErrorLine,
        --    ERROR_PROCEDURE() AS ErrorProcedure,
        --    ERROR_SEVERITY() AS ErrorSeverity;
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[Update_lichtau2]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_lichtau2]   --Update_lichtau2 '9/5/2025 12:00:00 AM','9/1/2025 12:00:00 AM','4'
	@resultDay as nvarchar(50), 
	@resultDay2 as nvarchar(50), 
	@ID_lichtau as nvarchar(10),
	@dateETA as nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;
	declare @exFactoryDate as Datetime	

	declare @begindate as Datetime
	declare @endate as Datetime
	--kiem tra xem ngay xuat hang nha may co la ngay HOLIDAY khong? => neu vao ngay holiday thi tien len phia truoc 1 ngay

    BEGIN TRY
        BEGIN TRANSACTION;

		--if exists(select * from Holiday where CONVERT(date,[Date])=convert(date,@resultDay))
		if exists(select * from Holiday where convert(date,@resultDay) between [Date] and [DateTo])
		--if exists(select * from Holiday where convert(date,@resultDay) between CONVERT(date,[Date]) and CONVERT(date,[DateTo]))
		begin
			--print 'vao holiday'
			--Lui 1 ngay so voi lich da tinh **** truong hop lich nghi dai ngay **** test sau
			---SET @exFactoryDate = DATEADD(DAY, -1, @resultDay);

			--if exists(select * from Holiday where CONVERT(date,[Date])=convert(date,@exFactoryDate))
			--begin
			--	SET @exFactoryDate = DATEADD(DAY, -2, @resultDay);
			--end

			--sua ngay : 06.11.2025
			--truong hop ngay nghi lien tiep 2 nggay
			--- truong hop list ngay nghi lien tiep ==> lay ngay nghi min de tru****** vi du ngay nghi tet holiday
			set @begindate = (select top 1 [Date] from Holiday where convert(date,@resultDay) between [Date] and [DateTo])
			set @endate = (select top 1 [DateTo] from Holiday where convert(date,@resultDay) between [Date] and [DateTo])

			--print @begindate
			--print @endate

			if(@begindate < @endate)
			begin
				--print 'special'
				SET @exFactoryDate = DATEADD(DAY, -1, @begindate);  --ngay min tru 1
			end
			else
			begin
				--print 'nomal'
				SET @exFactoryDate = DATEADD(DAY, -1, @resultDay);
			end
						
		end
		else
		begin
			SET @exFactoryDate = convert(date,@resultDay);
		end
		print @exFactoryDate
		
		update tblVanningDate set Exfactorydate=@exFactoryDate,ETD=convert(date,@resultDay2),ETA=convert(date,@dateETA) where ID = cast(@ID_lichtau as int)
		--update tblVanningDate set Exfactorydate=convert(date,@resultDay),ETD=convert(date,@resultDay2) where ID = cast(@ID_lichtau as int)


		COMMIT TRANSACTION;

		select 1


   END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Trả lỗi về client
        --SELECT 
        --    ERROR_NUMBER() AS ErrorNumber,
        --    ERROR_MESSAGE() AS ErrorMessage,
        --    ERROR_LINE() AS ErrorLine,
        --    ERROR_PROCEDURE() AS ErrorProcedure,
        --    ERROR_SEVERITY() AS ErrorSeverity;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Update_lichtau2_old]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Update_lichtau2_old]   --Update_lichtau2 '9/5/2025 12:00:00 AM','9/1/2025 12:00:00 AM','4'
	@resultDay as nvarchar(50), 
	@resultDay2 as nvarchar(50), 
	@ID_lichtau as nvarchar(10),
	@dateETA as nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;
	declare @exFactoryDate as Datetime	
	--kiem tra xem ngay xuat hang nha may co la ngay HOLIDAY khong? => neu vao ngay holiday thi tien len phia truoc 1 ngay

    BEGIN TRY
        BEGIN TRANSACTION;

		if exists(select * from Holiday where CONVERT(date,[Date])=convert(date,@resultDay))
		begin
			--print 'vao holiday'
			--Lui 1 ngay so voi lich da tinh **** truong hop lich nghi dai ngay **** test sau
			SET @exFactoryDate = DATEADD(DAY, -1, @resultDay);
		end
		else
		begin
			SET @exFactoryDate = convert(date,@resultDay);
		end
		print @exFactoryDate
		
		update tblVanningDate set Exfactorydate=@exFactoryDate,ETD=convert(date,@resultDay2),ETA=convert(date,@dateETA) where ID = cast(@ID_lichtau as int)
		--update tblVanningDate set Exfactorydate=convert(date,@resultDay),ETD=convert(date,@resultDay2) where ID = cast(@ID_lichtau as int)


		COMMIT TRANSACTION;

		select 1


   END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Trả lỗi về client
        --SELECT 
        --    ERROR_NUMBER() AS ErrorNumber,
        --    ERROR_MESSAGE() AS ErrorMessage,
        --    ERROR_LINE() AS ErrorLine,
        --    ERROR_PROCEDURE() AS ErrorProcedure,
        --    ERROR_SEVERITY() AS ErrorSeverity;
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[Update_mater_ModelSCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_mater_ModelSCM]
	@id as nvarchar(10),
	@CAT as nvarchar(20), 
	@Consignee_Refer_ATP as nvarchar(50),
	@Country as nvarchar(50), 
	@Dest as nvarchar(50),
	@Model as nvarchar(50), 
	@Stuffing_type as nvarchar(50),
	@Model_Vol as nvarchar(50),
	@Pcs_ctn as nvarchar(50),
	@CTN_part as nvarchar(50),
	@CTN_vol as nvarchar(50),
	@Gross_weight as nvarchar(50),
	@Series as nvarchar(50),
	@MaxQty_cont40H as nvarchar(50),
	@Max_Qty_cont20F as nvarchar(50),
	@DIM_of_Carton_L as nvarchar(50), 
	@DIM_of_Carton_W as nvarchar(50), 
	@DIM_of_Carton_H as nvarchar(50),
	@CTNweight as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;
	if exists(select * from tblMaterModelSCM where ID=cast(@id as int))
	begin
		update tblMaterModelSCM 
		set [CAT] =@CAT
      ,[Consignee_Refer_ATP] = @Consignee_Refer_ATP
      ,[Country] = @Country
      ,[Dest] = @Dest
      ,[Model] = @Model
      ,[Stuffing_type] = @Stuffing_type
      ,[Model_Vol]= @Model_Vol
      ,[Pcs_ctn] = @Pcs_ctn
      ,[CTN_part] = @CTN_part
      ,[CTN_vol] = @CTN_vol
      ,[Gross_weight] = @Gross_weight
	  ,[CTNweight]=@CTNweight
      ,[Series] = @Series
      ,[MaxQty_cont40H] = @MaxQty_cont40H
      ,[Max_Qty_cont20F] = @Max_Qty_cont20F
      ,[DIM_of_Carton_L] = @DIM_of_Carton_L
      ,[DIM_of_Carton_W] = @DIM_of_Carton_W
      ,[DIM_of_Carton_H] =@DIM_of_Carton_H
	  ,UpdateTime = getdate()
		where ID=cast(@id as int)

		select 1
	end
	else
	begin
		select 0
	end
    
END
GO
/****** Object:  StoredProcedure [dbo].[Update_materVessel_SCM]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_materVessel_SCM]
	@id as nvarchar(10),
	@cate as nvarchar(20), 
	@Area as nvarchar(50), 
	@Country as nvarchar(50), 
	@DestCity as nvarchar(50), 
	@DestCityName as nvarchar(50), 
	@PIC as nvarchar(20), 
	@Consignee as nvarchar(50),
	@FCL_Ex_factory as nvarchar(50), 
	@FCL_ETD as nvarchar(50), 
	@FCL_ETA as nvarchar(50), 
	@LLC_Ex_factory as nvarchar(50),
	@LLC_ETD as nvarchar(50),
	@LLC_ETA as nvarchar(50),
	@AIR_Ex_factory as nvarchar(50), 
	@AIR_ETD as nvarchar(50), 
	@AIR_ETA as nvarchar(50), 
	@Special_exfactory_date as nvarchar(50),
	@SpecialETD_week as nvarchar(50),
	@Special_ETA_Date as nvarchar(50), 
	@Can_combine as nvarchar(50)
AS
BEGIN
	
	--SET NOCOUNT ON;
	if exists(select * from tblMaster_vessel where ID=cast(@id as int))
	begin
		Update tblMaster_vessel 
		set [cate] = @cate
      ,[Area] = @Area
      ,[Country] = @Country
      ,[DestCity] = @DestCity
      ,[DestCityName] = @DestCityName
      ,[PIC] =@PIC
      ,[Consignee]=@Consignee
      ,[FCL_Ex_factory]=@FCL_Ex_factory
      ,[FCL_ETD]=@FCL_ETD
      ,[FCL_ETA]=cast(@FCL_ETA as int)
      ,[LLC_Ex_factory]=@LLC_Ex_factory
      ,[LLC_ETD]=@LLC_ETD
      ,[LLC_ETA]=cast(@LLC_ETA as int)
      ,[AIR_Ex_factory]=@AIR_Ex_factory
      ,[AIR_ETD]=@AIR_ETD
      ,[AIR_ETA]=cast(@AIR_ETA as int)
      ,[Special_exfactory_date]=@Special_exfactory_date
      ,[SpecialETD_week]=cast(@SpecialETD_week as int)
      ,[Special_ETA_Date]=cast(@Special_ETA_Date as int)
      ,[Can_combine]=@Can_combine
	  ,UpdateTime = getdate()
		where ID=cast(@id as int)
		select 1
	end
	else
	begin
		select 0
	end


END
GO
/****** Object:  StoredProcedure [dbo].[Update_setting_toolconvert]    Script Date: 3/10/2026 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_setting_toolconvert] 
--Update_setting_toolconvert '31','4','8','10','14','13','21','22','23','24','25','26','27','28','29','30','DPOversea','2'
	@cate as nvarchar(2), 
	@sa as nvarchar(2), 
	@name as nvarchar(2), 
	@productmodel as nvarchar(2), 
	@jitqty as nvarchar(2), 
	@shipdate as nvarchar(2), 
	@delaydate1 as nvarchar(2), 
	@delayqty1 as nvarchar(2), 
	@delaydate2 as nvarchar(2), 
	@delayqty2 as nvarchar(2), 
	@delaydate3 as nvarchar(2), 
	@delayqty3 as nvarchar(2), 
	@delaydate4 as nvarchar(2), 
	@delayqty4 as nvarchar(2), 
	@delaydate5 as nvarchar(2), 
	@delayqty5 as nvarchar(2), 
	@Typeconvert as nvarchar(50), 
	@index_row  as nvarchar(2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	print @Typeconvert
    if exists(select * from tblSettingConvertVessel where NameTemplate=@Typeconvert)
	begin
		print 'update'
		update tblSettingConvertVessel set [Cat] =@cate
      ,[sa]=@sa
      ,[name]=@name
      ,[produce_model]=@productmodel
      ,[jit_qty]=@jitqty
      ,[ship_date]=@shipdate
      ,[delay1_date]=@delaydate1
      ,[delay1_qty]=@delayqty1
      ,[delay2_date]=@delaydate2
      ,[delay2_qty]=@delayqty2
      ,[delay3_date]=@delaydate3
      ,[delay3_qty]=@delayqty3
      ,[delay4_date]=@delaydate4
      ,[delay4_qty]=@delayqty4
      ,[delay5_date]=@delaydate5
      ,[delay5_qty]=@delayqty5
      ,[rowid]=@index_row 
	  where NameTemplate=@Typeconvert

	  select 1
	end
	else
	begin
		print 'insert'
		insert into tblSettingConvertVessel([Cat]
      ,[sa]
      ,[name]
      ,[produce_model]
      ,[jit_qty]
      ,[ship_date]
      ,[delay1_date]
      ,[delay1_qty]
      ,[delay2_date]
      ,[delay2_qty]
      ,[delay3_date]
      ,[delay3_qty]
      ,[delay4_date]
      ,[delay4_qty]
      ,[delay5_date]
      ,[delay5_qty]
      ,[rowid]
	  ,NameTemplate) values (@cate,@sa,@name,@productmodel,@jitqty,@shipdate,@delaydate1,@delayqty1,@delaydate2,@delayqty2,@delaydate3,@delayqty3,@delaydate4,@delayqty4,@delaydate5,@delayqty5,@index_row,@Typeconvert)

	  select 0

	end
	
END
GO
