USE [LichTau]
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky]    Script Date: 12/10/2025 5:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky]  --Select_Report_Risky '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	--declare @sql2 as nvarchar(max);

	--set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky from tblVanningDate where Risky <>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' order by Destination,Exfactorydate asc  '

	set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky,Grossweight,TTLVolume from tblVanningDate where Risky<>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+'''  order by Destination,Exfactorydate asc  '  ---and Destination=''GOA'' 
	
	--select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky 
 -- from tblVanningDate where Risky <>''  order by Destination,ETD asc 

	--if(@uploadno <> '==UploadNo==')
	--begin
	--	set @sql1 += ' and NameGroup='''+@uploadno+''' '		
	--end
	--if(@_modelname <> '')
	--begin
	--	set @sql1 += ' and Model='''+@_modelname+''' '		
	--end
	--if(@_countryname <> '')
	--begin
	--	set @sql1 += ' and Country='''+@_countryname+''' '		
	--end

	print @sql1
		
	exec(@sql1)




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky_group]    Script Date: 12/10/2025 5:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky_group]  --Select_Report_Risky_group '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	---group by theo consignee
	select distinct Consignee, Shipmode,Destination,Exfactorydate,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' and Risky<>''
	--old
	--select distinct Shipmode,Destination,Exfactorydate,Cancombine,Cat,Risky from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' and Risky<>''
	
	-- and Destination='GOA'

	
	
	




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_Risky2]    Script Date: 12/10/2025 5:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_Risky2]  --Select_Report_Risky2 '2025-12-01','2025-12-20','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	declare @sql1 as nvarchar(max);
	--declare @sql2 as nvarchar(max);

	--set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky from tblVanningDate where Risky <>'''' and CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+''' order by Destination,Exfactorydate asc  '

	set @sql1 = 'select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,convert(date,ETD) as ETD,ETA,Cancombine,Risky,Grossweight,TTLVolume from tblVanningDate where CreateTime between '''+cast(@fromDateTime as nvarchar(50))+''' and '''+cast(@toDateTime as nvarchar(50))+'''  order by Destination,ETD asc  '  ---and Destination=''GOA'' 
	
	--select Cat,Shipmode,Consignee,Country,Destination,Model,Quantity,ATPdate,TTLcont,Exfactorydate,ETD,ETA,Cancombine,Risky 
 -- from tblVanningDate where Risky <>''  order by Destination,ETD asc 

	--if(@uploadno <> '==UploadNo==')
	--begin
	--	set @sql1 += ' and NameGroup='''+@uploadno+''' '		
	--end
	--if(@_modelname <> '')
	--begin
	--	set @sql1 += ' and Model='''+@_modelname+''' '		
	--end
	--if(@_countryname <> '')
	--begin
	--	set @sql1 += ' and Country='''+@_countryname+''' '		
	--end

	print @sql1
		
	exec(@sql1)




END
GO
/****** Object:  StoredProcedure [dbo].[Select_Report_TTL_group]    Script Date: 12/10/2025 5:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Select_Report_TTL_group]  --Select_Report_TTL_group '2025-12-01','2025-12-28','==Category==','on'
	@_fromdate as nvarchar(50), 
	@_todate as nvarchar(50),
	@category as nvarchar(20),
	@status_ex_risky as nvarchar(10)
	--@uploadno as nvarchar(100),
	--@_modelname as nvarchar(50), 
	--@_countryname as nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @fromDateTime DATETIME = CONVERT(DATETIME, @_fromdate, 120);
	DECLARE @toDateTime DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, @_todate, 120)));

	print @fromDateTime
	print @toDateTime
	-----,Cat
	--select distinct Shipmode,Destination,Exfactorydate,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' 
	---Consignee va ETD date (khong phai exfactory date)
	--select distinct Consignee,Shipmode,Country,Destination,ETD,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' 
	-- and Destination='GOA'


	select distinct Consignee,Shipmode,Country,Destination,convert(date,ETD) as ETD,Cancombine,Cat from tblVanningDate where CreateTime between @fromDateTime and @toDateTime and Destination <>'' --order by ETD asc

	
	
	




END
GO
